@using RetroWars.Web.Infrastructure.Extensions
@model             RetroWars.Web.ViewModels.Poll.PollViewModel

@{
    bool isAdmin = User.IsAdmin();
}

<div  class="d-flex flex-column justify-content-center align-items-center border border-4 border-info " style="background-color: #ff01ff;">
    <div class="row d-flex flex-row" style="height: 48vh">
        <div class="card m-5 bg-info" style="width: 18rem; height: 30rem;">

            <div class="card-body ">
                <h1 class="card-title text-dark text-center">@Model.FirstGameName</h1>
                <div class="d-flex justify-content-center">
                    <img src=@Model.FirstGameImageUrl class="card-img-top " style="height: 33vh; width: auto" alt=@Model.FirstGameName>
                </div>
                <h1 class="card-title text-dark text-center m-2">@Model.FirstGamePublisher</h1>
                <h1 class="card-title text-dark text-center  m-2">@Model.FirstGamePlatform</h1>
            </div>
        </div>

        <div class="card m-5 bg-info" style="width: 18rem; height: 30rem;">

            <div class="card-body ">
                <h1 class="card-title text-dark text-center">@Model.SecondGameName</h1>
                <div class="d-flex justify-content-center">
                    <img src=@Model.SecondGameImageUrl class="card-img-top " style="height: 33vh; width: auto" alt=@Model.SecondGameName>
                </div>
                <h1 class="card-title text-dark text-center  m-2">@Model.SecondGamePublisher</h1>
                <h1 class="card-title text-dark text-center  m-2">@Model.SecondGamePlatform</h1>


            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center mt-2 flex-column">
        @if (isAdmin)
        {
            <a asp-controller="Poll" asp-action="DeactivatePoll" asp-route-id="@Model.Id" class="btn btn-warning mb-3 text-white"> Deactivate</a>
        }
        <a asp-controller="Poll" asp-action="Vote" asp-route-id="@Model.Id" class="btn btn-success mb-3 text-white"> Vote</a>
    </div>
</div>

